<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="connection.username">root</property>
    	<property name="connection.password">Cay20130621</property>
    	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    	<property name="connection.url">
    		<![CDATA[
    			jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=UTF-8		
    		]]>
    	</property>
    	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    	<property name="show_sql">true</property>
    	<property name="format_sql">true</property>
    	
    	<!-- create:每次都新建数据表，如果已存在，先删除原来的表 -->
    	<!-- update:更新数据表 -->
    	<property name="hbm2ddl.auto">create</property>
    	<property name="current_session_context_class">thread</property>

		<!-- org.com.cay.entity.Id
		<mapping class="org.com.cay.entity.Id.Students"/> 
		-->
		 
		<!-- org.com.cay.entity.Embedded
		<mapping class="org.com.cay.entity.Embedded.Students"/> 
		-->
		 
		<!-- org.com.cay.entity.GenericGenerator
		<mapping class="org.com.cay.entity.GenericGenerator.Students1"/> 
		<mapping class="org.com.cay.entity.GenericGenerator.Students2"/> 
		-->
		 
		<!-- org.com.cay.entity.EmbeddedId
		<mapping class="org.com.cay.entity.EmbeddedId.Students"/> 
		-->
		 
		<!-- org.com.cay.entity.Transient
		<mapping class="org.com.cay.entity.Transient.Students"/> 
		-->

		<!-- org.com.cay.entity.single.OneToOne -->
		<mapping class="org.com.cay.entity.single.OneToOne.IDCard"/>    	
		<mapping class="org.com.cay.entity.single.OneToOne.Students"/>
		  
		 	
		<!-- org.com.cay.entity.both.OneToOne 
		<mapping class="org.com.cay.entity.single.ManyToOne.ClassRoom"/>    	
		<mapping class="org.com.cay.entity.single.ManyToOne.Students"/>
		-->
		
    </session-factory>
</hibernate-configuration>
